  .header {
    background: url("/assets/hero.png");
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-position-x: center;
    height: $element-height-690;
    &-section {
      width: $element-width-45;
      margin-left: 10px;
    }
    &-title {
      font-size: $font-size-40;
      color: $color-white;
      text-align: left;
      font-weight: $font-weight-bold;
    }
    &-description {
      color: $color-white;
      font-size: $font-size-16;
    }
    &-button {
      width: 206px;
      height: $element-height-50;
      color: $color-white;
      background-color: $color-primary;
      border: unset;
      border-radius: 3px;
      margin-top: 20px;
      &:hover {
        cursor: pointer;
        background-color: $color-blue-lagoon;
        border: 3px solid $color-green;
      }
    }
    &-features {
      width: $element-width-30;
      margin-left: 5%;
      &-text {
        color: $color-white;
        margin-left:8px
      }
    }
  }
  hr {
    height: 3px;
    background-color: $color-primary;
    border: none;
    width: 8%;
    margin: 10px 0;
  }
  .mobile-view {
    display: none;
  }
  @media only screen and (max-width: 425px) {
    .header-section, .header-features {
      width: $element-width-90;
    }
  }
  @media only screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      justify-content: center;
      height: auto;
      padding: 20px;
      &-title {
        font-size: $font-size-22;
        font-weight: $font-weight-bold;
      }
      &-features {
        width: $element-width-90;
      }
    }
    hr{
      width: 13%;
    }
    .desktop-view {
      display: none;
    }
    .mobile-view {
      display: block;
    }
    
  }
  
