
.navbar {
  height: $element-height-80;
  background-color: $color-white;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  &-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    width: $img-max-width-80;
    &-separator{
      border-right: 3px solid lightgray;
    }
  }
  &-menu-links {
    display: flex;
    align-items: center;
    padding: 0 25px;
  }
  &-link {
    display: flex;
    align-items: center;
    margin: 0 10px;
    &-text {
      font-size: $font-size-12;
      font-weight: $font-weight-bold;
      color: $color-secondary;
      &:hover {
        color: $color-primary;
        cursor: pointer;
      }
    }
    &-dropdown-icon {
      margin-left: 8px;
      cursor: pointer;
    }
  }
  &-right{
    width: 151px;
    height: $element-height-50;
    color: $color-white;
    background-color: $color-primary;
    border: unset;
    border-radius: 3px;
    &:hover {
      cursor: pointer;
      background-color: $color-blue-lagoon;
      border: 3px solid $color-green;
    }
  }
}

.mobile-navbar-controls {
  display: none;
  margin: 0 10px;
  height: $element-height-80;
}
.mobile-navbar {
  display: none;
  z-index: 1;
  height: 100vh;
  background-color: $color-white;
  &-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-link {
    margin: 15px auto;
    font-size: $font-weight-12;
    font-weight: $font-weight-bold;
    color: $color-secondary;
    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
  }
  &-separator{
    width: $element-width-50;
    border-bottom: 2px solid lightgray;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .mobile-navbar {
    display: block;
  }
  .mobile-navbar-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-icon {
      color: $color-primary;
      font-size: $font-size-30;
      font-weight: $font-weight-bold;
      
    }
  }

}
